name: CI
on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: actions/setup-go@v5
      - uses: moonrepo/setup-rust@v1
        with:
          components: rustfmt, clippy
      - uses: pre-commit/action@v3.0.1
        with:
          extra_args: --all-files

  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true
          submodules: true
      - uses: moonrepo/setup-rust@v1
      - run: |
          cd go-runner
          cargo test --all
        env:
          CODSPEED_GO_PKG_VERSION: ${{ github.head_ref || github.ref_name }}


  compat-integration-test-walltime:
    runs-on: codspeed-macro
    strategy:
      matrix:
        target: [example, example/compat, example/timing, example/very/nested/module]
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: actions/setup-go@v5
      - uses: moonrepo/setup-rust@v1
        with:
          cache-target: release

      - name: Run the benchmarks
        uses: CodSpeedHQ/action@main
        env:
          CODSPEED_GO_PKG_VERSION: ${{ github.head_ref || github.ref_name }}
        with:
          mode: walltime
          working-directory: example
          run: cargo r --release --manifest-path ../go-runner/Cargo.toml -- test -bench=. ${{ matrix.target }}

  check:
    runs-on: ubuntu-latest
    if: always()
    needs:
      - lint
      - tests
      - compat-integration-test-walltime
    steps:
      - uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJson( needs ) }}
